{% extends "admin/change_form.html" %}

{% load custom_filters %}

{% block extrahead %}
    <style>
        .custom-go-back-button {
            margin: 20px 0;
            display: block;
            text-align: left;
        }

        .custom-go-back-button a {
            background-color: #6c757d;
            color: white;
            padding: 7px 15px;
            text-decoration: none;
            border-radius: 15px;
            font-size: 13px;
            margin-left: 80%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="custom-go-back-button">
            <a href="{% url 'custom_admin' %}">Go Back</a>
        </div>
        {{ block.super }}
    </div>
{% endblock %}
