{% load custom_tags %}
{% load static %}
<!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
<!-- 
      {% if request.user|in_group:"Superadmin" %}

      <li class="nav-item">
        <a class="nav-link collapsed " href="#">
          <i class="bi bi-grid"></i>
          <span>Superadmin</span>
        </a>
      </li>
      {% endif %} -->
<!-- 
      {% if request.user|in_group:"Admin" %}

      <li class="nav-item"></li>
        <a class="nav-link collapsed " href="#">
          <i class="bi bi-grid"></i>
          <span>Admin</span>
        </a>
      </li>
      {% endif %} -->
<!--       

      {% if request.user|in_group:"Normalusers" %}

      <li class="nav-item"></li>
        <a class="nav-link collapsed " href="#">
          <i class="bi bi-grid"></i>
          <span>NormalUsers</span>
        </a>
      </li>
      {% endif %} -->

      <li class="nav-item">
        <a class="nav-link collapsed " href="#">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li>
    
      


      
{% if request.user|in_group:"Admin" or request.user|in_group:"Superadmin" %}
<li class="nav-item">
  <a class="nav-link collapsed" href="{% url 'custom_admin' %}">
    <i class="bi bi-grid"></i>
    <span>Admin</span>
  </a>
</li>
{% endif %}
    
      

      <li class="nav-item">
        <a class="nav-link collapsed " href="#">
          <i class="bi bi-grid"></i>
          <span>Workflow Management</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'todlistpage' %}">
          <i class="bi bi-grid"></i>
          <span>Task Managements</span>
        </a>
      </li>
    

      <li class="nav-item">
        <a class="nav-link collapsed " href="#">
          <i class="bi bi-grid"></i>
          <span>Inputs</span>
        </a>
      </li>
      


      <li class="nav-item">
        <a class="nav-link collapsed " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Report</span>
        </a>
      </li>
      


      <li class="nav-item">
        <a class="nav-link collapsed " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Utilitries</span>
        </a>
      </li>


      
      <li class="nav-item">
        <a class="nav-link collapsed " href="#">
          <i class="bi bi-grid"></i>
          <span>Polices</span>
        </a>
      </li>


      
      <li class="nav-item">
        <a class="nav-link collapsed " href="#">
          <i class="bi bi-grid"></i>
          <span>Contact Us</span>
        </a>
      </li>
      {% if request.user|in_group:"Admin" or request.user|in_group:"Superadmin" %}

     
      <li class="nav-item">
        <a class="nav-link collapsed " href="{% url 'user_list' %}">
          <i class="bi bi-grid"></i>
          <span>Users</span>
        </a>
      </li> 
      {% endif %}
      
      <!-- <li class="nav-item">
        <a class="nav-link collapsed " href="{% url 'todolist' %}">
          <i class="bi bi-grid"></i>
          <span>Todo List</span>
        </a>
      </li>
       -->
      
      <!-- End Dashboard Nav -->

   

     



  
  

    

  

   
   

      
     
      
     


     

    

     
      
   

      
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#sales-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Sales</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="sales-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Add New Task</span>
            </a>
          </li>

          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Task List</span>
            </a>
          </li>

          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Task Report</span>
            </a>
          </li>
       
       
        </ul>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#knowledge-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Knowledge base</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="Knowledge-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Add New Knowledge base</span>
            </a>
          </li>

          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Category</span>
            </a>
          </li>

          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Department</span>
            </a>
          </li>
       
       
        </ul>
      </li>
       -->

      
      <!-- End Icons Nav -->





      






    





    

     

      
      <!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
  </div>
</div>